div.selectMood img {
  border: none;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 10px 5px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

/* Float */
div.selectMood img {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

div.selectMood img:hover,
div.selectMood img:focus,
div.selectMood img:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

div.selectMood h1 {
  margin: 30px auto;
}

.sad {
  animation-name: sad;
  animation-duration: 0.3s;
}

.nw {
  animation-name: nw;
  animation-duration: 0.3s;
  animation-delay: .2s;
}

.neutral {
  animation-name: neutral;
  animation-duration: 0.3s;
  animation-delay: .4s;
}

.happy {
  animation-name: happy;
  animation-duration: 0.3s;
  animation-delay: .6s;
}

.jub {
  animation-name: jub;
  animation-duration: 0.3s;
  animation-delay: .8s;
}

@keyframes sad {
  from {
    -webkit-transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes nw {
  from {
    -webkit-transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes neutral {
  from {
    -webkit-transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes happy {
  from {
    -webkit-transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes jub {
  from {
    -webkit-transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@media (max-width: 630px) {
  div.selectMood img {
    width: 55px;
  }

  div.selectMood h1 {
    font-size: 24px;
    margin: 50px auto 10px auto;
  }
}

@media (max-width: 400px) {
  div.selectMood img {
    width: 60px;
  }

  div.selectMood h1 {
    font-size: 24px;
    margin: 50px auto 10px auto;
  }
}
