div.selectMood img {
  border: none;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 10px 7px;
  height: 85px;
  width: 85px;
  border-radius: 50%;
}

/* Float */
div.selectMood img {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

div.selectMood img:hover,
div.selectMood img:focus,
div.selectMood img:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  cursor: pointer;
}

div.selectMood h1.welcome {
  font-size: 28px;
  margin-top: 90px;
}

.sad {
  animation: sad 0.3s;
}

.nw {
  animation: nw 0.3s 0.2s;
}

.neutral {
  animation: neutral 0.3s 0.4s;
}

.happy {
  animation: happy 0.3s 0.6s;
}

.jub {
  animation: jub 0.3s 0.8s;
}

@keyframes sad {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes nw {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes neutral {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes happy {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes jub {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@media (max-width: 900px) {
  div.selectMood img {
    width: 70px;
  }
  div.selectMood h1.welcome {
    font-size: 28px;
    margin: 80px auto 10px auto;
  }
}

@media (max-width: 400px) {
  div.selectMood img {
    width: 60px;
  }
}
