.mood-tracker {
  background-color: #c9ecff;
  width: 80%;
  height:100%;
  padding: 30px 30px 100px 30px;
  text-align: center;
  display: block;
  margin: 20px auto;
  border-radius: 5px;
  position: relative;
  font-family: "Poppins", sans-serif;
  z-index: 1;
  overflow: hidden;
  box-shadow:
  rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
  rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
}

.mood-tracker h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 46px;
  margin-top:30px;
  font-family: Poetsen One;
}


@media (max-width: 400px) {
  .mood-tracker {
    width: 70%;
  }
}
