.mood-tracker {
  background-color: #c9ecff;
  width: 80%;
  height: 400px;
  padding: 30px;
  text-align: center;
  display: block;
  margin: 20px auto;
  border-radius: 4px;
  position: relative;
  font-family: "Poppins", sans-serif;
  z-index: 1;
  overflow: hidden;
}

.mood-tracker h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 46px;
  margin-top:30px;
  font-family: PoetsenOne-Regular;
}

@media (max-width: 800px) {
  .mood-tracker {
    width: 70%;
  }
}

@media (max-width: 400px) {
  .mood-tracker {
    width: 60%;
    height: 550px;
  }
}
