.graphHeaderContainer {
  width: 900px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 110px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.graph .graphHeaderContainer h1 {
  font-size: 25px;
  margin: 37px 0px;
  line-height: 30px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  transform: scale(1.2);
}

button.week,
button.month,
button.year {
  height: 20px;
  margin: 5px 5px;
  width: 65px;
  padding: 2px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  color: #f8c144;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #dfdcdc;
}

button.week:focus,
button.month:focus,
button.year:focus {
  background-color: #f8c144;
  color: white;
  border: none;
}

.graphHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 800px;
  height: 380px;
  margin: 170px auto 0px;
  background-color: white;
  padding: 50px 20px 50px 70px;
  border-radius: 15px;
  box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 120px -25px,
    rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
}

.graphColOfFaces {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45px;
  left: 15px;
}

.graphColOfFaces img {
  width: 55px;
  margin: 11px 0px;
}

.switchGraphLine {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 40px;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}

.switchGraphBar {
  position: absolute;
  bottom: 75px;
  right: 20px;
  width: 40px;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}

.switchGraphBar:hover,
.switchGraphLine:hover {
  transform: scale(1.05);
}

.hidden {
  display: none;
}

@media (max-width: 1300px) {
  .switchGraphBar {
    bottom: 20px;
    right: 80px;
  }
}

@media (max-width: 1280px) {
  .graphHeaderContainer {
    width: 90%;
    top: 17%;
  }

  button.week,
  button.month,
  button.year {
    font-size: 11px;
    transform: scale(0.9);
  }

  .graphHolder {
    width: 510px;
    height: 250px;
    margin-top: 170px;
  }

  .graphColOfFaces {
    left: 15px;
    top: 35px;
  }

  .graphColOfFaces img {
    width: 40px;
    margin: 5px 0px;
  }
}

@media (max-width: 801px) {
  .graphHeaderContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .buttonContainer {
    margin: 25px 30px;
  }

  .graph .graphHeaderContainer h1 {
    font-size: 20px;
    margin: 20px;
    width: 100%;
  }

  .graphHolder {
    margin-top: 250px;
    height: 180px;
    padding: 35px 10px 35px 50px;
    width: 340px;
  }

  .graphColOfFaces {
    left: 14px;
    top: 28px;
  }

  .graphColOfFaces img {
    width: 25px;
    margin: 3px 0px;
  }
}