.bottomLeftLarge {
  bottom: 0px;
  left: 7px;
  animation-duration: 6s;
}

.topRightLarge {
  top: 0px;
  right: 6px;
  animation-duration: 5s;
}

.topRightBottom {
  top: 70px;
  right: 50px;
  width: 30px;
  animation-duration: 2s;
}

.topRightTop {
  top: 2px;
  right: 70px;
  width: 30px;
  animation-duration: 3s;
}

.bottomLeftBottom {
  bottom: 2px;
  left: 65px;
  width: 25px;
  animation-duration: 4s;
}

.bottomLeftTop {
  bottom: 85px;
  left: 50px;
  width: 20px;
  animation-duration: 2s;
}

.bottomLeftLarge,
.topRightLarge,
.topRightBottom,
.topRightTop,
.bottomLeftBottom,
.bottomLeftTop {
  position: absolute;
  z-index: -1;
  animation-name: star;
  animation-iteration-count: infinite;
}

@keyframes star {
  0% {
    transform: scale(1);
    filter: brightness(1);
  }
  25% {
    transform: scale(1.1);
    filter: brightness(1.45);
  }
  50% {
    transform: scale(1);
    filter: brightness(1.15);
  }
  75% {
    transform: scale(0.9);
    filter: brightness(1);
  }
  100% {
    transform: scale(1);
    filter: brightness(1.05);
  }
}

@media (max-width: 700px) {
  .topRightBottom,
  .topRightTop,
  .bottomLeftBottom,
  .bottomLeftTop {
    width: 20px;
  }

  .bottomLeftTop {
    left: 5px;
  }

  .topRightBottom {
    right: 10px;
    top:90px;
  }

  .topRightTop{
    right:70px;
  }
}
