.bottomLeftLarge {
  bottom: 5px;
  left: 20px;
  width: 80px;
  animation-duration: 6s;
}

.topRightLarge {
  top: 5px;
  right: 20px;
  width: 90px;
  animation-duration: 5s;
}

.topRightBottom {
  top: 100px;
  right: 130px;
  width: 30px;
  animation-duration: 2s;
}

.topRightTop {
  top: 20px;
  right: 120px;
  width: 30px;
  animation-duration: 3s;
}

.bottomLeftBottom {
  bottom: 106px;
  left: 125px;
  width: 35px;
  animation-duration: 4s;
}

.bottomLeftTop {
  bottom: 165px;
  left: 66px;
  width: 40px;
  animation-duration: 2s;
}

.bottomLeftLarge,
.topRightLarge,
.topRightBottom,
.topRightTop,
.bottomLeftBottom,
.bottomLeftTop {
  position: absolute;
  z-index: -1;
  animation-name: star;
  animation-iteration-count: infinite;
}

@keyframes star {
  0% {
    transform: scale(1);
    filter: brightness(1.45);
  }
  25% {
    transform: scale(1.1);
    filter: brightness(1);
  }
  50% {
    transform: scale(1);
    filter: brightness(1.15);
  }
  75% {
    transform: scale(0.9);
    filter: brightness(1);
  }
  100% {
    transform: scale(1);
    filter: brightness(1.05);
  }
}

@media (max-width: 1050px) {
  .topRightBottom,
  .bottomLeftBottom,
  .bottomLeftTop {
    width: 25px;
  }

  .bottomLeftTop {
    left: 13px;
    bottom: 100px;
  }

  .topRightBottom {
    right: 10px;
    top: 100px;
  }

  .topRightTop {
    right: 90px;
    top: 5px;
  }

  .bottomLeftBottom {
    bottom: 5px;
    left: 110px;
  }

  .bottomLeftLarge,
  .topRightLarge {
    width: 55px;
  }
}
