.moodExp input.whyMood {
  width: 220px;
  height: 12px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  outline: none;
  display: block;
  margin: 25px auto 10px auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.moodExp div.btnTags {
  margin: 0 auto;
  width: 390px;
}

.moodExp button.tags {
  margin: 10px 5px;
  background-color: white;
  border-radius: 15px;
  padding: 3px 10px;
}

.moodExp button.tags:hover{
  font-weight: 600;
}

.moodExp button[type="submit"] {
  width: 150px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: #f7c144;
  color: white;
  font-weight: 600;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.moodExp button[type="submit"]:hover,
.moodExp button[type="submit"]:focus,
.moodExp button[type="submit"]:active {
  background-color: white;
  color: gray;
}

.workClicked {
  background-color: rgb(255, 204, 204) !important;
}

.famClicked {
  background-color: #fdfae3 !important;
}

.relClicked {
  background-color: #cbf7fd !important;
}

.friClicked {
  background-color: rgb(232, 255, 226) !important;
}

.healthClicked {
  background-color: rgb(253, 238, 241) !important;
}

.exClicked {
  background-color: rgb(246, 222, 252) !important;
}

.travClicked {
  background-color: #f8d7ed !important;
}

.mindClicked {
  background-color: #f3e7fd !important;
}

.foodClicked {
  background-color: #c5e3ff !important;
}

.eduClicked {
  background-color: #f8e4cf !important;
}

.moodExp button.tags[value="Work"] {
  border: 1px solid red;
  color: red;
}

.moodExp button.tags[value="Family"] {
  border: 1px solid #f8e344;
  color: #e4ca03;
}

.moodExp button.tags[value="Relationship"] {
  border: 1px solid #1be2fc;
  color: #04d5f0;
}

.moodExp button.tags[value="Friends"] {
  border: 1px solid rgb(73, 245, 5);
  color: rgb(66, 230, 1);
}

.moodExp button.tags[value="Health"] {
  border: 1px solid rgb(250, 180, 192);
  color: rgb(252, 146, 163);
}

.moodExp button.tags[value="Exercise"] {
  border: 1px solid rgb(167, 10, 167);
  color: rgb(167, 10, 167);
}

.moodExp button.tags[value="Travel"] {
  border: 1px solid #ff25b5;
  color: #ff25b5;
}

.moodExp button.tags[value="Mindfulness"] {
  border: 1px solid #b76cfd;
  color: #b76cfd;
}

.moodExp button.tags[value="Food"] {
  border: 1px solid #0185fe;
  color: #0185fe;
}

.moodExp button.tags[value="Education"] {
  border: 1px solid #d9730b;
  color: #d9730b;
}

@media (max-width: 600px) {
  .moodExp div.btnTags {
    width: 100%;
  }

  .moodExp button.tags {
    padding: 3px 7px;
    font-size: 10px;
  }
}

@media (max-width: 415px) {
  .moodExp div.btnTags {
    width: 100%;
  }

  .moodExp button.tags {
    padding: 3px 10px;
    font-size: 9px;
  }
}
