.mood-tracker {
  background-color: #C9ECFF;
  width: 60%;
  height: 340px;
  padding: 50px;
  text-align: center;
  display: block;
  margin: 20px auto;
  border-radius: 4px;
  /* overflow: hidden; */
  position: relative;
  font-family: "Poppins", sans-serif;
  z-index: 1;
}

.s1 {
  margin-top: -50px;
  margin-left: -46%;
}

.s2{
  margin-top: 240px;
  margin-left: 37%;
}

.s1, .s2{
  position: absolute;
  z-index: -1;
}

.mood-tracker h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 46px;
  font-family: PoetsenOne-Regular;
}
